# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# ==================================================
# dgketchum exclusions
.idea
example/data/smith_3000/pest
example/data/musselshell_3000/pest
example/data/uyws_carter_3000/pest

# =================================================

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
/example/data/domain/musselshell_basin.cpg
/example/data/domain/musselshell_basin.dbf
/example/data/domain/musselshell_basin.prj
/example/data/domain/musselshell_basin.qmd
/example/data/domain/musselshell_basin.shp
/example/data/domain/musselshell_basin.shx
/example/data/domain/musselshell_gage.cpg
/example/data/domain/musselshell_gage.dbf
/example/data/domain/musselshell_gage.prj
/example/data/domain/musselshell_gage.qmd
/example/data/domain/musselshell_gage.shp
/example/data/domain/musselshell_gage.shx
/example/data/gages/usgs_gages_wELEV_30yr.cpg
/example/data/gages/usgs_gages_wELEV_30yr.dbf
/example/data/gages/usgs_gages_wELEV_30yr.prj
/example/data/gages/usgs_gages_wELEV_30yr.shp
/example/data/gages/usgs_gages_wELEV_30yr.shx
/example/data/gages/usgs_gages_wELEV_30yr.zip
/example/data/met/ghcn/ghcn_stations_pnw.cpg
/example/data/met/ghcn/ghcn_stations_pnw.dbf
/example/data/met/ghcn/ghcn_stations_pnw.prj
/example/data/met/ghcn/ghcn_stations_pnw.qmd
/example/data/met/ghcn/ghcn_stations_pnw.shp
/example/data/met/ghcn/ghcn_stations_pnw.shx
/example/data/met/ghcn/ghcn_stations_pnw.zip
/example/data/met/ghcn/USC00241995.csv
/example/data/met/ghcn/USC00243378.csv
/example/data/met/ghcn/USC00245080.csv
/example/data/met/ghcn/USC00247603.csv
/example/data/met/ghcn/USC00485345.csv
/example/data/met/ghcn/USC00485355.csv
/example/data/met/ghcn/USC00489025.csv
/example/data/met/ghcn/USC00489902.csv
/example/data/met/ghcn/USC00489905.csv
/example/data/met/ghcn/USS0009D06S.csv
/example/data/met/ghcn/USS0009D08S.csv
/example/data/met/ghcn/USS0009E07S.csv
/example/data/met/ghcn/USS0009E11S.csv
/example/data/met/ghcn/USS0009F18S.csv
/example/data/met/ghcn/USS0010D07S.csv
/example/data/met/ghcn/USS0010D12S.csv
/example/data/met/ghcn/USS0010D13S.csv
/example/data/met/ghcn/USS0010D16S.csv
/example/data/met/ghcn/USS0010D31S.csv
/example/data/met/ghcn/USS0010E03S.csv
/example/data/met/ghcn/USS0010E06S.csv
/example/data/met/ghcn/USS0010E07S.csv
/example/data/met/ghcn/USS0010E17S.csv
/example/data/met/ghcn/USS0010E20S.csv
/example/data/met/ghcn/USW00024150.csv
/example/data/met/ghcn/USW00094173.csv
/example/data/met/snotel/snotel_stations.cpg
/example/data/met/snotel/snotel_stations.dbf
/example/data/met/snotel/snotel_stations.prj
/example/data/met/snotel/snotel_stations.shp
/example/data/met/snotel/snotel_stations.shx
/example/data/met/snotel/snotel_stations.zip
/example/data/met/precip_zones.cpg
/example/data/met/precip_zones.dbf
/example/data/met/precip_zones.prj
/example/data/met/precip_zones.shp
/example/data/met/precip_zones.shx
/example/data/musselshell_3000/control/hru_typexxx.param
/example/data/musselshell_3000/control/musselshell_3000.control
/example/data/musselshell_3000/domain/met_zones.cpg
/example/data/musselshell_3000/domain/met_zones.dbf
/example/data/musselshell_3000/domain/met_zones.prj
/example/data/musselshell_3000/domain/met_zones.shp
/example/data/musselshell_3000/domain/met_zones.shx
/example/data/musselshell_3000/domain/musselshell_basin.cpg
/example/data/musselshell_3000/domain/musselshell_basin.dbf
/example/data/musselshell_3000/domain/musselshell_basin.prj
/example/data/musselshell_3000/domain/musselshell_basin.qmd
/example/data/musselshell_3000/domain/musselshell_basin.shp
/example/data/musselshell_3000/domain/musselshell_basin.shx
/example/data/musselshell_3000/domain/musselshell_gage.cpg
/example/data/musselshell_3000/domain/musselshell_gage.dbf
/example/data/musselshell_3000/domain/musselshell_gage.prj
/example/data/musselshell_3000/domain/musselshell_gage.qmd
/example/data/musselshell_3000/domain/musselshell_gage.shp
/example/data/musselshell_3000/domain/musselshell_gage.shx
/example/data/musselshell_3000/domain/selected_stations.cpg
/example/data/musselshell_3000/domain/selected_stations.dbf
/example/data/musselshell_3000/domain/selected_stations.shp
/example/data/musselshell_3000/domain/selected_stations.shx
/example/data/musselshell_3000/hru_params/awc.tif
/example/data/musselshell_3000/hru_params/clay.tif
/example/data/musselshell_3000/hru_params/elevation.tif
/example/data/musselshell_3000/hru_params/fishnet.dbf
/example/data/musselshell_3000/hru_params/fishnet.prj
/example/data/musselshell_3000/hru_params/fishnet.shp
/example/data/musselshell_3000/hru_params/fishnet.shx
/example/data/musselshell_3000/hru_params/flopy_raster.tif
/example/data/musselshell_3000/hru_params/ksat.tif
/example/data/musselshell_3000/hru_params/landfire_cover.tif
/example/data/musselshell_3000/hru_params/landfire_type.tif
/example/data/musselshell_3000/hru_params/loam.tif
/example/data/musselshell_3000/hru_params/model_domain_build.cpg
/example/data/musselshell_3000/hru_params/model_domain_build.dbf
/example/data/musselshell_3000/hru_params/model_domain_build.prj
/example/data/musselshell_3000/hru_params/model_domain_build.shp
/example/data/musselshell_3000/hru_params/model_domain_build.shx
/example/data/musselshell_3000/hru_params/nlcd.tif
/example/data/musselshell_3000/hru_params/sand.tif
/example/data/musselshell_3000/input/musselshell_3000.params
/example/data/musselshell_3000/input/musselshell_3000_xyz.data
/example/data/musselshell_3000/input/USC00243939.csv
/example/data/musselshell_3000/input/USS0010C15S.csv
/example/data/musselshell_3000/output/hydrograph_uncal.png
/example/data/musselshell_3000/output/output.model
/example/data/musselshell_3000/output/statvar.out
/example/data/musselshell_3000/output/stdout.txt
/example/data/musselshell_3000/rasters/awc.tif
/example/data/musselshell_3000/rasters/clay.tif
/example/data/musselshell_3000/rasters/elevation.tif
/example/data/musselshell_3000/rasters/ksat.tif
/example/data/musselshell_3000/rasters/landfire_cover.tif
/example/data/musselshell_3000/rasters/landfire_type.tif
/example/data/musselshell_3000/rasters/loam.tif
/example/data/musselshell_3000/rasters/nlcd.tif
/example/data/musselshell_3000/rasters/sand.tif
/example/data/smith_300/control/hru_typexxx.param
/example/data/smith_300/control/smith_300.control
/example/data/smith_300/domain/met_zones.cpg
/example/data/smith_300/domain/met_zones.dbf
/example/data/smith_300/domain/met_zones.prj
/example/data/smith_300/domain/met_zones.shp
/example/data/smith_300/domain/met_zones.shx
/example/data/smith_300/domain/selected_stations.cpg
/example/data/smith_300/domain/selected_stations.dbf
/example/data/smith_300/domain/selected_stations.shp
/example/data/smith_300/domain/selected_stations.shx
/example/data/smith_300/domain/smith_basin.cpg
/example/data/smith_300/domain/smith_basin.dbf
/example/data/smith_300/domain/smith_basin.prj
/example/data/smith_300/domain/smith_basin.qmd
/example/data/smith_300/domain/smith_basin.shp
/example/data/smith_300/domain/smith_basin.shx
/example/data/smith_300/domain/smith_gage.cpg
/example/data/smith_300/domain/smith_gage.dbf
/example/data/smith_300/domain/smith_gage.prj
/example/data/smith_300/domain/smith_gage.qmd
/example/data/smith_300/domain/smith_gage.shp
/example/data/smith_300/domain/smith_gage.shx
/example/data/smith_300/hru_params/awc.tif
/example/data/smith_300/hru_params/clay.tif
/example/data/smith_300/hru_params/elevation.tif
/example/data/smith_300/hru_params/fishnet.dbf
/example/data/smith_300/hru_params/fishnet.prj
/example/data/smith_300/hru_params/fishnet.shp
/example/data/smith_300/hru_params/fishnet.shx
/example/data/smith_300/hru_params/flopy_raster.tif
/example/data/smith_300/hru_params/ksat.tif
/example/data/smith_300/hru_params/landfire_cover.tif
/example/data/smith_300/hru_params/landfire_type.tif
/example/data/smith_300/hru_params/loam.tif
/example/data/smith_300/hru_params/model_domain_build.cpg
/example/data/smith_300/hru_params/model_domain_build.dbf
/example/data/smith_300/hru_params/model_domain_build.prj
/example/data/smith_300/hru_params/model_domain_build.shp
/example/data/smith_300/hru_params/model_domain_build.shx
/example/data/smith_300/hru_params/nlcd.tif
/example/data/smith_300/hru_params/sand.tif
/example/data/smith_300/input/inputs.csv
/example/data/smith_300/input/smith_300.params
/example/data/smith_300/input/smith_300_xyz.data
/example/data/smith_300/input/USC00243157.csv
/example/data/smith_300/input/USC00248930.csv
/example/data/smith_300/input/USS0011C01S.csv
/example/data/smith_300/input/USS0011C02S.csv
/example/data/smith_300/output/output.model
/example/data/smith_300/output/statvar.out
/example/data/smith_300/rasters/awc.tif
/example/data/smith_300/rasters/clay.tif
/example/data/smith_300/rasters/elevation.tif
/example/data/smith_300/rasters/ksat.tif
/example/data/smith_300/rasters/landfire_cover.tif
/example/data/smith_300/rasters/landfire_type.tif
/example/data/smith_300/rasters/loam.tif
/example/data/smith_300/rasters/nlcd.tif
/example/data/smith_300/rasters/sand.tif
/example/data/smith_300/smith_parameters.toml
/example/data/smith_3000/control/hru_typexxx.param
/example/data/smith_3000/control/smith_3000.control
/example/data/smith_3000/domain/met_zones.cpg
/example/data/smith_3000/domain/met_zones.dbf
/example/data/smith_3000/domain/met_zones.prj
/example/data/smith_3000/domain/met_zones.shp
/example/data/smith_3000/domain/met_zones.shx
/example/data/smith_3000/domain/prms_data_stations_.json
/example/data/smith_3000/domain/selected_stations.cpg
/example/data/smith_3000/domain/selected_stations.dbf
/example/data/smith_3000/domain/selected_stations.shp
/example/data/smith_3000/domain/selected_stations.shx
/example/data/smith_3000/domain/smith_basin.cpg
/example/data/smith_3000/domain/smith_basin.dbf
/example/data/smith_3000/domain/smith_basin.prj
/example/data/smith_3000/domain/smith_basin.qmd
/example/data/smith_3000/domain/smith_basin.shp
/example/data/smith_3000/domain/smith_basin.shx
/example/data/smith_3000/domain/smith_basin_wgs.cpg
/example/data/smith_3000/domain/smith_basin_wgs.dbf
/example/data/smith_3000/domain/smith_basin_wgs.prj
/example/data/smith_3000/domain/smith_basin_wgs.qmd
/example/data/smith_3000/domain/smith_basin_wgs.shp
/example/data/smith_3000/domain/smith_basin_wgs.shx
/example/data/smith_3000/domain/smith_gage.cpg
/example/data/smith_3000/domain/smith_gage.dbf
/example/data/smith_3000/domain/smith_gage.prj
/example/data/smith_3000/domain/smith_gage.qmd
/example/data/smith_3000/domain/smith_gage.shp
/example/data/smith_3000/domain/smith_gage.shx
/example/data/smith_3000/hru_params/awc.tif
/example/data/smith_3000/hru_params/clay.tif
/example/data/smith_3000/hru_params/elevation.tif
/example/data/smith_3000/hru_params/fishnet.dbf
/example/data/smith_3000/hru_params/fishnet.prj
/example/data/smith_3000/hru_params/fishnet.shp
/example/data/smith_3000/hru_params/fishnet.shx
/example/data/smith_3000/hru_params/flopy_raster.tif
/example/data/smith_3000/hru_params/ksat.tif
/example/data/smith_3000/hru_params/landfire_cover.tif
/example/data/smith_3000/hru_params/landfire_type.tif
/example/data/smith_3000/hru_params/loam.tif
/example/data/smith_3000/hru_params/model_domain_build.cpg
/example/data/smith_3000/hru_params/model_domain_build.dbf
/example/data/smith_3000/hru_params/model_domain_build.prj
/example/data/smith_3000/hru_params/model_domain_build.shp
/example/data/smith_3000/hru_params/model_domain_build.shx
/example/data/smith_3000/hru_params/nlcd.tif
/example/data/smith_3000/hru_params/sand.tif
/example/data/smith_3000/input/inputs.csv
/example/data/smith_3000/input/smith_3000.params
/example/data/smith_3000/input/smith_3000_xyz.data
/example/data/smith_3000/input/snodas.json
/example/data/smith_3000/input/USC00243157.csv
/example/data/smith_3000/input/USC00248930.csv
/example/data/smith_3000/input/USS0011C01S.csv
/example/data/smith_3000/input/USS0011C02S.csv
/example/data/smith_3000/obs/ee_06076690.csv
/example/data/smith_3000/obs/obs_q.np
/example/data/smith_3000/obs/obs_swe.np
/example/data/smith_3000/output/hydrograph_uncal.png
/example/data/smith_3000/output/output.model
/example/data/smith_3000/output/statvar.out
/example/data/smith_3000/output/stdout.txt
/example/data/smith_3000/rasters/awc.tif
/example/data/smith_3000/rasters/clay.tif
/example/data/smith_3000/rasters/elevation.tif
/example/data/smith_3000/rasters/ksat.tif
/example/data/smith_3000/rasters/landfire_cover.tif
/example/data/smith_3000/rasters/landfire_type.tif
/example/data/smith_3000/rasters/loam.tif
/example/data/smith_3000/rasters/nlcd.tif
/example/data/smith_3000/rasters/sand.tif
/example/data/smith_3000/custom_forward_run.py
/example/data/smith_3000/prms_params.csv
/example/data/uyws_carter_3000/control/luca/calib1.luca
/example/data/uyws_carter_3000/control/luca/calib1_uyws_carter_3000.control
/example/data/uyws_carter_3000/control/luca/luca_paths
/example/data/uyws_carter_3000/control/gwflow.wbal
/example/data/uyws_carter_3000/control/hru_typexxx.param
/example/data/uyws_carter_3000/control/intcp.wbal
/example/data/uyws_carter_3000/control/snowcomp.wbal
/example/data/uyws_carter_3000/control/soilzone.wbal
/example/data/uyws_carter_3000/control/srunoff_smidx.wbal
/example/data/uyws_carter_3000/control/uyws_carter_3000.control
/example/data/uyws_carter_3000/control/uyws_carter_3000.control.mod_name
/example/data/uyws_carter_3000/control/uyws_carter_3000.control.par_name
/example/data/uyws_carter_3000/control/uyws_carter_3000.control.param
/example/data/uyws_carter_3000/control/uyws_carter_3000.control.var_name
/example/data/uyws_carter_3000/control/wbal.msgs
/example/data/uyws_carter_3000/hru_params/awc.tif
/example/data/uyws_carter_3000/hru_params/clay.tif
/example/data/uyws_carter_3000/hru_params/elevation.tif
/example/data/uyws_carter_3000/hru_params/fishnet.dbf
/example/data/uyws_carter_3000/hru_params/fishnet.prj
/example/data/uyws_carter_3000/hru_params/fishnet.shp
/example/data/uyws_carter_3000/hru_params/fishnet.shx
/example/data/uyws_carter_3000/hru_params/flopy_raster.tif
/example/data/uyws_carter_3000/hru_params/ksat.tif
/example/data/uyws_carter_3000/hru_params/landfire_cover.tif
/example/data/uyws_carter_3000/hru_params/landfire_type.tif
/example/data/uyws_carter_3000/hru_params/loam.tif
/example/data/uyws_carter_3000/hru_params/model_domain_build.cpg
/example/data/uyws_carter_3000/hru_params/model_domain_build.dbf
/example/data/uyws_carter_3000/hru_params/model_domain_build.prj
/example/data/uyws_carter_3000/hru_params/model_domain_build.shp
/example/data/uyws_carter_3000/hru_params/model_domain_build.shx
/example/data/uyws_carter_3000/hru_params/nlcd.tif
/example/data/uyws_carter_3000/hru_params/sand.tif
/example/data/uyws_carter_3000/input/luca/calib1_round1_step1.par
/example/data/uyws_carter_3000/input/luca/mod_params.params
/example/data/uyws_carter_3000/input/nhd/uyws_lakes.cpg
/example/data/uyws_carter_3000/input/nhd/uyws_lakes.dbf
/example/data/uyws_carter_3000/input/nhd/uyws_lakes.prj
/example/data/uyws_carter_3000/input/nhd/uyws_lakes.shp
/example/data/uyws_carter_3000/input/nhd/uyws_lakes.shx
/example/data/uyws_carter_3000/input/humidity.day
/example/data/uyws_carter_3000/input/potet.day
/example/data/uyws_carter_3000/input/precip.day
/example/data/uyws_carter_3000/input/swrad.day
/example/data/uyws_carter_3000/input/tmax.day
/example/data/uyws_carter_3000/input/tmin.day
/example/data/uyws_carter_3000/input/uyws_carter_3000.params
/example/data/uyws_carter_3000/input/uyws_carter_3000_1sta.csv
/example/data/uyws_carter_3000/input/uyws_carter_3000_1sta.csv.ins
/example/data/uyws_carter_3000/input/uyws_carter_3000_1sta.data
/example/data/uyws_carter_3000/input/uyws_carter_3000_xyz.data
/example/data/uyws_carter_3000/input/windspeed.day
/example/data/uyws_carter_3000/output/luca/calib1_luca.statvar
/example/data/uyws_carter_3000/output/luca/calib1_summary.txt
/example/data/uyws_carter_3000/output/hydrograph_cal.png
/example/data/uyws_carter_3000/output/hydrograph_uncal.png
/example/data/uyws_carter_3000/output/output.model
/example/data/uyws_carter_3000/output/statvar.out
/example/data/uyws_carter_3000/output/stdout.txt
/example/data/uyws_carter_3000/hru_typexxx.param
/example/data/irrigated_gage_metadata_res_ibt.json
